01.Phicomm-N1/DC1_NodeRed-流程带延迟.json
[{"id":"2cacb280cd479375","type":"tab","label":"单DC1带MQTT","disabled":false,"info":""},{"id":"26b19602acbae4a4","type":"tcp in","z":"2cacb280cd479375","name":"","server":"server","host":"","port":"8000","datamode":"stream","datatype":"buffer","newline":"","topic":"","base64":false,"x":100,"y":40,"wires":[["f0de216fa6e6a245","f5e56990048e1b39"]],"info":"{\"header\":\"phi-plug-0001\",\"uuid\":\"identify291f\",\"action\":\"wifi=\",\"auth\":\"\",\"params\":{\"ssid\":\"iOT\",\"password\":\"18610015552\"}}"},{"id":"c9aeb25ccdaf0ded","type":"tcp out","z":"2cacb280cd479375","host":"","port":"","beserver":"reply","base64":false,"end":false,"name":"响应TCP","x":540,"y":40,"wires":[]},{"id":"f0de216fa6e6a245","type":"function","z":"2cacb280cd479375","name":"心跳","func":"const json = JSON.parse(msg.payload)\n\nlet uuid = ''\nconst is_first = json.action == 'activate='\nconst is_heart = json.msg == 'get datapoint success'\n\n// 如果是设备来注册\nif (json.action == 'activate=') {uuid = json.params.mac}\n// 如果是自己构造的uuid\nelse{uuid = json.uuid}\n\n// 如果请求类型是设备心跳或是设备激活\n// 并且是一个有效的uuid\nif((is_heart || is_first) && uuid.length == 17) {\n  node.status({text:`最后更新:${new Date().toLocaleTimeString('zh-cn',{timeZone: \"Asia/Chongqing\"})}`})\n  // node.warn(JSON.stringify(json))\n  msg.payload = `{\"action\":\"datapoint\",\"params\":{},\"uuid\":\"${uuid}\",\"auth\":\"\"}\\n`\n  \n  // 通过定时器清理解决同一个请求被多次发出问题\n  clearTimeout(flow.get(`TIMER_${uuid}`))\n  // 延迟一秒发出\n  const timer = setTimeout(() => node.send(msg), 1000)\n  flow.set(`TIMER_${uuid}`, timer)\n}","outputs":1,"noerr":0,"x":375,"y":40,"wires":[["c9aeb25ccdaf0ded"]]},{"id":"035145521b75a787","type":"comment","z":"2cacb280cd479375","name":"斐讯DC1内网NR帮助","info":"### 内网劫持\n\n使用dnsmasq劫持`smartplugconnect.phicomm.com`到你NodeRed所在IP\n\n```\naddress=/.smartplugconnect.phicomm.com/192.168.200.202\n```\n\n### WIFI配网\n\n#### 1、复位插座\n\n长按总开关,待闪烁\n\n#### 2、用wifi连接到dc1生成的无线节点\n\n#### 3、使用udp工具，我使用的是mac，所以用的工具是YTNetwork来做udp发包\n\n绑定ip为192.168.4.1\n绑定端口为7550\n\n#### 4、发udp包，内容如下，其中iOT是你家wifi名，1234567890改为你家wifi密码，记得这段json后面记得补一个回车\n```\n{\"header\":\"phi-plug-0001\",\"uuid\":\"identify291f\",\"action\":\"wifi=\",\"auth\":\"\",\"params\":{\"ssid\":\"iOT\",\"password\":\"1234567890\"}}\n```","x":140,"y":100,"wires":[]},{"id":"57374cd8b2efe704","type":"switch","z":"2cacb280cd479375","name":"分支判定","property":"uuid","propertyType":"msg","rules":[{"t":"eq","v":"84:F3:EB:55:79:98","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":540,"y":105,"wires":[["726b8a47a50347f2"],[]]},{"id":"f5e56990048e1b39","type":"function","z":"2cacb280cd479375","name":"下行","func":"const json = JSON.parse(msg.payload)\nconst is_heart = json.msg == 'get datapoint success'\n\n// 如果是心跳包\nif(is_heart) {\n  msg.payload = json\n  // 开关状态的二进制\n  msg.sw_2 = json.result.status\n  // 开关状态的十进制\n  msg.sw_10 = parseInt(msg.sw_2, 2)\n  // 设备的mac地址,利用原有uuid通道进行传递\n  msg.uuid = json.uuid\n  flow.set(`STATUS_${json.uuid}`, msg)\n  node.send(msg) \n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":375,"y":105,"wires":[["57374cd8b2efe704"]]},{"id":"726b8a47a50347f2","type":"link out","z":"2cacb280cd479375","name":"斐讯DC1-客厅in","links":["b675a30358b3bde3"],"x":635,"y":100,"wires":[]},{"id":"efde64143c98788c","type":"ui_switch","z":"2cacb280cd479375","name":"","label":"总开关","tooltip":"","group":"c9b5298ec6eb430c","order":1,"width":"0","height":"0","passthru":true,"decouple":"false","topic":"84:F3:EB:55:79:98_0","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":true,"className":"","x":610,"y":200,"wires":[["261cc26c29a02026","ff53e3fc9a012f0c"]]},{"id":"f16b3d66ec59f742","type":"ui_switch","z":"2cacb280cd479375","name":"","label":"开关一","tooltip":"","group":"c9b5298ec6eb430c","order":2,"width":"0","height":"0","passthru":true,"decouple":"false","topic":"84:F3:EB:55:79:98_1","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":true,"className":"","x":610,"y":245,"wires":[["261cc26c29a02026","14a4f5f963e3e54a"]]},{"id":"daac47f750823e8b","type":"ui_switch","z":"2cacb280cd479375","name":"","label":"开关二","tooltip":"","group":"c9b5298ec6eb430c","order":3,"width":"0","height":"0","passthru":true,"decouple":"false","topic":"84:F3:EB:55:79:98_2","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":true,"className":"","x":610,"y":290,"wires":[["261cc26c29a02026","d9924c9227423ea4"]]},{"id":"52181c0c7b433f92","type":"ui_switch","z":"2cacb280cd479375","name":"","label":"开关三","tooltip":"","group":"c9b5298ec6eb430c","order":4,"width":"0","height":"0","passthru":true,"decouple":"false","topic":"84:F3:EB:55:79:98_3","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":true,"className":"","x":610,"y":335,"wires":[["261cc26c29a02026","8bb3ac5ff506b4c8"]]},{"id":"c98521022c711b0a","type":"ui_gauge","z":"2cacb280cd479375","name":"","group":"c9b5298ec6eb430c","order":5,"width":"3","height":"2","gtype":"gage","title":"电压","label":"V","format":"{{value}}","min":"100","max":"300","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":610,"y":380,"wires":[]},{"id":"b675a30358b3bde3","type":"link in","z":"2cacb280cd479375","name":"斐讯DC1-客厅out","links":["726b8a47a50347f2"],"x":105,"y":230,"wires":[["0a91c5162c72b91d"]]},{"id":"f77f8485b10f8a35","type":"ui_gauge","z":"2cacb280cd479375","name":"","group":"c9b5298ec6eb430c","order":6,"width":"3","height":"2","gtype":"gage","title":"功率","label":"W","format":"{{value}}","min":"100","max":"300","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":610,"y":420,"wires":[]},{"id":"261cc26c29a02026","type":"join","z":"2cacb280cd479375","name":"","mode":"custom","build":"array","property":"","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"0.1","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":770,"y":200,"wires":[["4c243efb4f28736d"]]},{"id":"7bcea238b7d5cc8d","type":"function","z":"2cacb280cd479375","name":"开关控制","func":"// 如果没有uuid过来说明是从开关控制过来的\nif (!msg.uuid) {\n  const uuid = msg.topic.split('_')[0]\n  const json = flow.get(`STATUS_${uuid}`)\n  let new_sw = json.sw_10\n  msg.payload.map(item => {\n    const [uuid, index] = item.topic.split('_')\n    const sw = item.payload\n    switch (parseInt(index, 10)) {\n      case 0:\n        new_sw = sw ? new_sw | 1 : new_sw & 14\n        break\n      case 1:\n        new_sw = sw ? new_sw | 2 : new_sw & 13\n        break\n      case 2:\n        new_sw = sw ? new_sw | 4 : new_sw & 11\n        break\n      case 3:\n        new_sw = sw ? new_sw | 8 : new_sw & 7\n        break\n    }\n  })\n  const new_status = new_sw.toString(2)\n  node.status({ text: `设置状态:${new_status}(${uuid})` })\n  json.payload = `{\"action\":\"datapoint=\",\"params\":{\"status\": ${new_status} },\"uuid\":\"${uuid}\",\"auth\":\"\"}\\n`\n  node.send(json)\n  json.payload = `{\"action\":\"datapoint\",\"params\":{},\"uuid\":\"${uuid}\",\"auth\":\"\"}\\n`\n  node.send(json)\n}","outputs":1,"noerr":0,"x":1020,"y":40,"wires":[["5197d98b0a95c1f9"]]},{"id":"5197d98b0a95c1f9","type":"tcp out","z":"2cacb280cd479375","host":"","port":"","beserver":"reply","base64":false,"end":false,"name":"控制TCP","x":1180,"y":40,"wires":[]},{"id":"4c243efb4f28736d","type":"link out","z":"2cacb280cd479375","name":"斐讯DC1-控制in","links":["42f1dde33f6e486f"],"x":865,"y":200,"wires":[]},{"id":"42f1dde33f6e486f","type":"link in","z":"2cacb280cd479375","name":"斐讯DC1-控制out","links":["4c243efb4f28736d","89f9e3d0.3909"],"x":895,"y":40,"wires":[["7bcea238b7d5cc8d"]]},{"id":"0a91c5162c72b91d","type":"function","z":"2cacb280cd479375","name":"数据分组","func":"node.status({text:`当前状态:${msg.sw_2}(${msg.uuid})`})\nnode.send([\n  Object.assign({}, msg, {payload: (msg.sw_10 & 1) > 0}),\n  Object.assign({}, msg, {payload: (msg.sw_10 & 2) > 0}),\n  Object.assign({}, msg, {payload: (msg.sw_10 & 4) > 0}),\n  Object.assign({}, msg, {payload: (msg.sw_10 & 8) > 0}),\n  Object.assign({}, msg, {payload: msg.payload.result.V}),\n  Object.assign({}, msg, {payload: msg.payload.result.P}),\n])","outputs":6,"noerr":0,"initialize":"","finalize":"","x":240,"y":230,"wires":[["efde64143c98788c"],["f16b3d66ec59f742"],["daac47f750823e8b"],["52181c0c7b433f92"],["c98521022c711b0a","8b05b409038870de"],["f77f8485b10f8a35","9fa43346c7c8631a"]]},{"id":"20d55f680bc615c1","type":"mqtt out","z":"2cacb280cd479375","name":"","topic":"84:F3:EB:55:79:98_3","qos":"0","retain":"true","broker":"4f69d151.afac6","x":1300,"y":380,"wires":[]},{"id":"8bb3ac5ff506b4c8","type":"rbe","z":"2cacb280cd479375","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":770,"y":380,"wires":[["422a022360c19096"]]},{"id":"b3fa5c10a07e0e8f","type":"mqtt out","z":"2cacb280cd479375","name":"","topic":"84:F3:EB:55:79:98_2","qos":"0","retain":"true","broker":"4f69d151.afac6","x":1300,"y":340,"wires":[]},{"id":"d9924c9227423ea4","type":"rbe","z":"2cacb280cd479375","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":770,"y":340,"wires":[["d89cbb40c3abbefb"]]},{"id":"14a4f5f963e3e54a","type":"rbe","z":"2cacb280cd479375","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":770,"y":300,"wires":[["df808915d081bc69"]]},{"id":"ff53e3fc9a012f0c","type":"rbe","z":"2cacb280cd479375","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":770,"y":260,"wires":[["51a5a7385bfdb592","087eb595a23be7bc"]]},{"id":"1f25ee083240acb4","type":"mqtt out","z":"2cacb280cd479375","name":"","topic":"84:F3:EB:55:79:98_1","qos":"0","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4f69d151.afac6","x":1300,"y":300,"wires":[]},{"id":"03083e7c8a0234a0","type":"mqtt out","z":"2cacb280cd479375","name":"","topic":"84:F3:EB:55:79:98_0","qos":"0","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4f69d151.afac6","x":1300,"y":260,"wires":[]},{"id":"1d7205cf7f4881e8","type":"mqtt in","z":"2cacb280cd479375","name":"","topic":"84:F3:EB:55:79:98_0","qos":"0","datatype":"auto","broker":"4f69d151.afac6","x":140,"y":340,"wires":[["9e8c75a29c706aa9"]]},{"id":"659b061c1db66b1c","type":"mqtt in","z":"2cacb280cd479375","name":"","topic":"84:F3:EB:55:79:98_1","qos":"0","datatype":"auto","broker":"4f69d151.afac6","x":140,"y":380,"wires":[["1772962e7d933ce6","0b2f059f22594968"]]},{"id":"46bfefb673e00ccf","type":"mqtt in","z":"2cacb280cd479375","name":"","topic":"84:F3:EB:55:79:98_2","qos":"0","datatype":"auto","broker":"4f69d151.afac6","x":140,"y":420,"wires":[["cf73a789dc9fe60e","0b2f059f22594968"]]},{"id":"252741363eaaed8d","type":"mqtt in","z":"2cacb280cd479375","name":"","topic":"84:F3:EB:55:79:98_3","qos":"0","datatype":"auto","broker":"4f69d151.afac6","x":140,"y":460,"wires":[["f3bba232c04fe41b","0b2f059f22594968"]]},{"id":"9e8c75a29c706aa9","type":"change","z":"2cacb280cd479375","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":340,"wires":[["efde64143c98788c"]]},{"id":"f3bba232c04fe41b","type":"change","z":"2cacb280cd479375","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":460,"wires":[["52181c0c7b433f92"]]},{"id":"1772962e7d933ce6","type":"change","z":"2cacb280cd479375","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":380,"wires":[["f16b3d66ec59f742"]]},{"id":"cf73a789dc9fe60e","type":"change","z":"2cacb280cd479375","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":420,"wires":[["daac47f750823e8b"]]},{"id":"9f9f0cae75f5a37c","type":"mqtt out","z":"2cacb280cd479375","name":"","topic":"84:F3:EB:55:79:98_4","qos":"0","retain":"","broker":"4f69d151.afac6","x":1140,"y":420,"wires":[]},{"id":"2c964c9520989dd9","type":"mqtt out","z":"2cacb280cd479375","name":"","topic":"84:F3:EB:55:79:98_5","qos":"0","retain":"","broker":"4f69d151.afac6","x":1140,"y":460,"wires":[]},{"id":"8b05b409038870de","type":"rbe","z":"2cacb280cd479375","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":770,"y":420,"wires":[["9f9f0cae75f5a37c"]]},{"id":"9fa43346c7c8631a","type":"rbe","z":"2cacb280cd479375","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":770,"y":460,"wires":[["2c964c9520989dd9"]]},{"id":"ba968120e18b7f4a","type":"comment","z":"2cacb280cd479375","name":"MQTT使用方法","info":"**更改MAC地址为自己的**\n\nHome Assistant 自动发现里可以搜索到\n\n四个开关，两个传感器。\n\n1个总开关+3个子开关。\n\n1个电压传感器，1个功率传感器。","x":1120,"y":160,"wires":[]},{"id":"36885a99e1295c2f","type":"inject","z":"2cacb280cd479375","name":"HA自动发现","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"{\"unique_id\":\"84:F3:EB:55:79:98_0\",\"state_topic\":\"84:F3:EB:55:79:98_0\",\"name\":\"DC1总开关\",\"command_topic\":\"84:F3:EB:55:79:98_0\",\"payload_on\":\"1\",\"payload_off\":\"0\",\"state_on\":\"1\",\"state_off\":\"0\"}","payloadType":"json","x":130,"y":560,"wires":[["0041c4767050c6bd"]]},{"id":"0041c4767050c6bd","type":"mqtt out","z":"2cacb280cd479375","name":"总开关","topic":"homeassistant/switch/DC1/0/config","qos":"0","retain":"true","broker":"4f69d151.afac6","x":270,"y":560,"wires":[]},{"id":"d62688bcb38936bd","type":"mqtt out","z":"2cacb280cd479375","name":"1口","topic":"homeassistant/switch/DC1/1/config","qos":"0","retain":"true","broker":"4f69d151.afac6","x":570,"y":560,"wires":[]},{"id":"4bf544e134318526","type":"inject","z":"2cacb280cd479375","name":"HA自动发现","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"{\"unique_id\":\"84:F3:EB:55:79:98_1\",\"state_topic\":\"84:F3:EB:55:79:98_1\",\"name\":\"DC1一口\",\"command_topic\":\"84:F3:EB:55:79:98_1\",\"payload_on\":\"1\",\"payload_off\":\"0\",\"state_on\":\"1\",\"state_off\":\"0\"}","payloadType":"json","x":430,"y":560,"wires":[["d62688bcb38936bd"]]},{"id":"5f82e114f86b3f5e","type":"mqtt out","z":"2cacb280cd479375","name":"2口","topic":"homeassistant/switch/DC1/2/config","qos":"0","retain":"true","broker":"4f69d151.afac6","x":270,"y":620,"wires":[]},{"id":"09430253a6f87b5d","type":"inject","z":"2cacb280cd479375","name":"HA自动发现","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"{\"unique_id\":\"84:F3:EB:55:79:98_2\",\"state_topic\":\"84:F3:EB:55:79:98_2\",\"name\":\"DC1二口\",\"command_topic\":\"84:F3:EB:55:79:98_2\",\"payload_on\":\"1\",\"payload_off\":\"0\",\"state_on\":\"1\",\"state_off\":\"0\"}","payloadType":"json","x":130,"y":620,"wires":[["5f82e114f86b3f5e"]]},{"id":"cc7dfe0f11c083c0","type":"mqtt out","z":"2cacb280cd479375","name":"3口","topic":"homeassistant/switch/DC1/3/config","qos":"0","retain":"true","broker":"4f69d151.afac6","x":570,"y":620,"wires":[]},{"id":"758213c9eb05aa61","type":"inject","z":"2cacb280cd479375","name":"HA自动发现","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"{\"unique_id\":\"84:F3:EB:55:79:98_3\",\"state_topic\":\"84:F3:EB:55:79:98_3\",\"name\":\"DC1三口\",\"command_topic\":\"84:F3:EB:55:79:98_3\",\"payload_on\":\"1\",\"payload_off\":\"0\",\"state_on\":\"1\",\"state_off\":\"0\"}","payloadType":"json","x":430,"y":620,"wires":[["cc7dfe0f11c083c0"]]},{"id":"03113f6b3438b7d2","type":"mqtt out","z":"2cacb280cd479375","name":"电压","topic":"homeassistant/sensor/DC1/4/config","qos":"0","retain":"true","broker":"4f69d151.afac6","x":1010,"y":560,"wires":[]},{"id":"cef06518a12a4507","type":"inject","z":"2cacb280cd479375","name":"HA自动发现","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"{\"unit_of_measurement\": \"伏\",\"device_class\": \"power\",\"unique_id\":\"84:F3:EB:55:79:98_4\",\"state_topic\":\"84:F3:EB:55:79:98_4\",\"name\":\"DC1电压\"}","payloadType":"json","x":730,"y":560,"wires":[["6827a99d64ed4b7e"]]},{"id":"84454c90f9e2ca7c","type":"mqtt out","z":"2cacb280cd479375","name":"功率","topic":"homeassistant/sensor/DC1/5/config","qos":"0","retain":"true","broker":"4f69d151.afac6","x":1010,"y":620,"wires":[]},{"id":"7f0bf249a94aa3a7","type":"inject","z":"2cacb280cd479375","name":"HA自动发现","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"{\"unit_of_measurement\": \"瓦\",\"device_class\":\"power\",\"unique_id\":\"84:F3:EB:55:79:98_5\",\"state_topic\":\"84:F3:EB:55:79:98_5\",\"name\":\"DC1功率\"}","payloadType":"json","x":730,"y":620,"wires":[["5d417701e068ae07"]]},{"id":"6827a99d64ed4b7e","type":"rbe","z":"2cacb280cd479375","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":870,"y":560,"wires":[["03113f6b3438b7d2"]]},{"id":"5d417701e068ae07","type":"rbe","z":"2cacb280cd479375","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":870,"y":620,"wires":[["84454c90f9e2ca7c"]]},{"id":"51a5a7385bfdb592","type":"change","z":"2cacb280cd479375","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"1","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":260,"wires":[["cee250d48eddce7c"]]},{"id":"df808915d081bc69","type":"change","z":"2cacb280cd479375","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"1","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":300,"wires":[["507a9b8604c628cb"]]},{"id":"d89cbb40c3abbefb","type":"change","z":"2cacb280cd479375","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"1","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":340,"wires":[["4c7f17362966cb96"]]},{"id":"422a022360c19096","type":"change","z":"2cacb280cd479375","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"1","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":380,"wires":[["7954a0252e9218b0"]]},{"id":"ac598a4453a7e508","type":"debug","z":"2cacb280cd479375","name":"Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":500,"wires":[]},{"id":"087eb595a23be7bc","type":"function","z":"2cacb280cd479375","name":"","func":"if (msg.payload == false){\n    msg.payload = false;\n    node.send(msg);\n} else {\n    return null;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":480,"wires":[["f16b3d66ec59f742","daac47f750823e8b","52181c0c7b433f92"]]},{"id":"0b2f059f22594968","type":"function","z":"2cacb280cd479375","name":"","func":"if (msg.payload == \"1\"){\n    msg.payload = true;\n    node.send(msg);\n} else {\n    return null;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":500,"wires":[["efde64143c98788c"]]},{"id":"cee250d48eddce7c","type":"delay","z":"2cacb280cd479375","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"x":1100,"y":260,"wires":[["03083e7c8a0234a0"]]},{"id":"507a9b8604c628cb","type":"delay","z":"2cacb280cd479375","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"x":1100,"y":300,"wires":[["1f25ee083240acb4"]]},{"id":"4c7f17362966cb96","type":"delay","z":"2cacb280cd479375","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"x":1100,"y":340,"wires":[["b3fa5c10a07e0e8f"]]},{"id":"7954a0252e9218b0","type":"delay","z":"2cacb280cd479375","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"x":1100,"y":380,"wires":[["20d55f680bc615c1"]]},{"id":"c9b5298ec6eb430c","type":"ui_group","name":"Default","tab":"5001b1001dd775df","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"4f69d151.afac6","type":"mqtt-broker","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"5001b1001dd775df","type":"ui_tab","z":"2cacb280cd479375","name":"我的家","icon":"group","order":2,"disabled":false,"hidden":false}]
